<!DOCTYPE html>
<html>

<head>
  <title>Kellotuksemme</title>
</head>

<body>
    <h1>Kellotuksem.me</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} id numerosi on {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään </a>
    <a href="/register">luotunnus </a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

<p>
    <a href="/new_chug">Lisää kellottus</a>
</p>

<h2>Kellotukset</h2>
<ul>
{% for chug in chugs %}
<li><a href="/chug/{{ chug.id }}">{{ chug.drink }}</a></li>
{% endfor %}
</ul>
</body>

</html>
