<!DOCTYPE html>
<html>

<head>
  <title>{{ chug.drink }}</title>
</head>

<body>
    <h1>{{ chug.drink }}</h1>
    {% if session.user_id == chug.user_id %}
    <p>
        <a href ="/edit_chug/{{ chug.id }}">Muokkaa</a>
    </p>
    {% endif %}
    Kellottaja:
    <p>
    {{ chug.username }}
    </p>

    Aika:
    <p>
    {{ chug.clock }}ms
    </p>
    Määrä
    <p>
    {{ chug.amount }}cl
    </p>
    Alkoholi:
    <p>
    {{ chug.alcohol }}%
    </p>
    Hiilihappoisuus:
    <p>
    {{ chug.carbonation }}
    </p>

    <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>
